In [1]:
import pandas as pd

In [56]:
'''Setting option for pandas to show maximum rows and columns'''

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [39]:
'''Reading data for all houses sold in North Eeast from 2017- 2021'''
North_East = pd.read_excel("New_Houses_Sold_region_SalesPrice.xls",sheet_name="QtrSalGrp Reg Pct",header=None, names=["Period", "Total", "Under 200", "200-299","300-499",
                                                                 "500-749","750 and Over",],skiprows=69, nrows= 20, 
                                                                  index_col = None, usecols="A:G")
North_East['Region'] = 'North East'
North_East.set_index('Period', inplace =True)
North_East
#[Thousands of houses.  Components may not add to total because of rounding].

         Total  Under 200  200-299  300-499  500-749  750 and Over      Region
Period
2017Q1     100          2       11       32       33            23  North East
2017Q2     100          1       27       29       23            20  North East
2017Q3     100          2       18       43       20            18  North East
2017Q4     100          0       22       28       18            30  North East
2018Q1     100          6       13       40       24            17  North East
2018Q2     100          3       26       25       23            22  North East
2018Q3     100          1       17       31       24            27  North East
2018Q4     100          1        8       38       32            21  North East
2019Q1     100          7       11       37       26            19  North East
2019Q2     100          4       16       40       20            20  North East
2019Q3     100          2       12       31       27            27  North East
2019Q4     100          3        8       41       32            16  North East
2020Q1     100          1       12       35       33            20  North East
2020Q2     100          6       10       43       24            18  North East
2020Q3     100          0        6       54       22            18  North East
2020Q4     100          0        2       45       36            16  North East
2021Q1     100          0        3       44       25            28  North East
2021Q2     100          0        6       27       31            36  North East
2021Q3     100          2        0       46       24            29  North East
2021Q4     100          7       11       24       22            36  North East

In [40]:
'''Reading data for all houses sold in Mid West from 2017- 2021'''
Mid_West = pd.read_excel("New_Houses_Sold_region_SalesPrice.xls",sheet_name="QtrSalGrp Reg Pct",header=None, names=["Period", "Total", "Under 150", "150-199","200-299",
                                                                 "300-499","500 and Over",],skiprows=69, nrows= 20, 
                                                                  index_col = None, usecols="A,H:M")

Mid_West['Region'] = 'Mid West'
Mid_West.set_index("Period", inplace = True)
Mid_West

         Total  Under 150  150-199  200-299  300-499  500 and Over    Region
Period
2017Q1     100          2       16       37       35            10  Mid West
2017Q2     100          1       17       37       35            10  Mid West
2017Q3     100          2       21       34       33            10  Mid West
2017Q4     100          2       13       41       32            12  Mid West
2018Q1     100          2       18       32       37            10  Mid West
2018Q2     100          3       18       35       33            10  Mid West
2018Q3     100          1       11       41       38             9  Mid West
2018Q4     100          2       13       36       39            10  Mid West
2019Q1     100          3       14       41       34             9  Mid West
2019Q2     100          6       14       39       33             8  Mid West
2019Q3     100          3       10       39       38            10  Mid West
2019Q4     100          1       12       42       34            10  Mid West
2020Q1     100          1       11       42       36            11  Mid West
2020Q2     100          1        8       47       35             9  Mid West
2020Q3     100          1        4       42       36            16  Mid West
2020Q4     100          2       10       41       38            10  Mid West
2021Q1     100          0        5       38       46            11  Mid West
2021Q2     100          1        1       40       45            13  Mid West
2021Q3     100          0        1       34       45            19  Mid West
2021Q4     100          0        0       24       60            16  Mid West

In [43]:
'''Reading data for all houses sold in South from 2017- 2021'''
South  = pd.read_excel("New_Houses_Sold_region_SalesPrice.xls",sheet_name="QtrSalGrp Reg Pct",header=None, names=["Period", "Total", "Under 150", "150-199","200-299",
                                                                 "300-499","500 and Over",],skiprows=69, nrows= 20, 
                                                                  index_col = None, usecols="N:T")

South['Region'] = 'South'
South.set_index('Period', inplace = True)
South

         Total  Under 150  150-199  200-299  300-499  500 and Over Region
Period
2017Q1     100          6       15       35       32            12  South
2017Q2     100          4       13       38       33            12  South
2017Q3     100          5       14       33       36            12  South
2017Q4     100          4       11       35       37            13  South
2018Q1     100          5       11       36       37            12  South
2018Q2     100          5       14       36       34            11  South
2018Q3     100          4       11       37       35            14  South
2018Q4     100          5        9       39       35            12  South
2019Q1     100          4       10       45       32            10  South
2019Q2     100          2        9       41       36            11  South
2019Q3     100          2       11       41       34            12  South
2019Q4     100          2        9       41       35            12  South
2020Q1     100          3       11       42       35             9  South
2020Q2     100          3       12       39       38             9  South
2020Q3     100          0        8       44       36            12  South
2020Q4     100          0        5       36       47            12  South
2021Q1     100          1        4       36       45            14  South
2021Q2     100          0        2       29       51            18  South
2021Q3     100          0        1       28       48            22  South
2021Q4     100          0        1       23       56            19  South

In [44]:
'''Reading data for all houses sold in West from 2017- 2021'''

West = pd.read_excel("New_Houses_Sold_region_SalesPrice.xls",sheet_name="QtrSalGrp Reg Pct",header=None, names=["Period", "Total", "Under 200", "200-299","300-499",
                                                                 "500-749","750 and Over",],skiprows=69, nrows= 20, 
                                                                  index_col = None, usecols="A, U:Z")
West['Region'] = 'West'
West.set_index("Period", inplace = True)
West

         Total  Under 200  200-299  300-499  500-749  750 and Over Region
Period
2017Q1     100          3       25       49       17             6   West
2017Q2     100          3       23       51       17             6   West
2017Q3     100          3       21       51       16             9   West
2017Q4     100          3       16       50       22             9   West
2018Q1     100          3       18       50       21             8   West
2018Q2     100          2       20       45       21            11   West
2018Q3     100          2       16       55       18             9   West
2018Q4     100          3       17       53       18             9   West
2019Q1     100          1       15       55       22             6   West
2019Q2     100          2       15       52       23             8   West
2019Q3     100          2       19       48       23             8   West
2019Q4     100          2       15       48       26             9   West
2020Q1     100          1       12       56       22             8   West
2020Q2     100          1       15       56       22             6   West
2020Q3     100          1        8       61       21             9   West
2020Q4     100          0        7       63       24             7   West
2021Q1     100          1        5       50       33            11   West
2021Q2     100          0        4       48       37            11   West
2021Q3     100          0        3       43       34            19   West
2021Q4     100          0        3       43       41            13   West

In [64]:
new_houses_sold_price_by_region = pd.concat([North_East, West, South, Mid_West])
#new_houses_sold_price_by_region.to_csv('new_price_by_region')
new_houses_sold_price_by_region

,Total,Under 200,200-299,300-499,500-749,750 and Over,Region,Under 150,150-199,500 and Over
Period,,,,,,,,,,
2017Q1,100,2.0,11,32,33.0,23.0,North East,NaN,NaN,NaN
2017Q2,100,1.0,27,29,23.0,20.0,North East,NaN,NaN,NaN
2017Q3,100,2.0,18,43,20.0,18.0,North East,NaN,NaN,NaN
2017Q4,100,0.0,22,28,18.0,30.0,North East,NaN,NaN,NaN
2018Q1,100,6.0,13,40,24.0,17.0,North East,NaN,NaN,NaN
2018Q2,100,3.0,26,25,23.0,22.0,North East,NaN,NaN,NaN
2018Q3,100,1.0,17,31,24.0,27.0,North East,NaN,NaN,NaN
2018Q4,100,1.0,8,38,32.0,21.0,North East,NaN,NaN,NaN
2019Q1,100,7.0,11,37,26.0,19.0,North East,NaN,NaN,NaN
2019Q2,100,4.0,16,40,20.0,20.0,North East,NaN,NaN,NaN
2019Q3,100,2.0,12,31,27.0,27.0,North East,NaN,NaN,NaN
2019Q4,100,3.0,8,41,32.0,16.0,North East,NaN,NaN,NaN
2020Q1,100,1.0,12,35,33.0,20.0,North East,NaN,NaN,NaN
2020Q2,100,6.0,10,43,24.0,18.0,North East,NaN,NaN,NaN
2020Q3,100,0.0,6,54,22.0,18.0,North East,NaN,NaN,NaN
2020Q4,100,0.0,2,45,36.0,16.0,North East,NaN,NaN,NaN
2021Q1,100,0.0,3,44,25.0,28.0,North East,NaN,NaN,NaN
2021Q2,100,0.0,6,27,31.0,36.0,North East,NaN,NaN,NaN
2021Q3,100,2.0,0,46,24.0,29.0,North East,NaN,NaN,NaN
2021Q4,100,7.0,11,24,22.0,36.0,North East,NaN,NaN,NaN
2017Q1,100,3.0,25,49,17.0,6.0,West,NaN,NaN,NaN
2017Q2,100,3.0,23,51,17.0,6.0,West,NaN,NaN,NaN
2017Q3,100,3.0,21,51,16.0,9.0,West,NaN,NaN,NaN
2017Q4,100,3.0,16,50,22.0,9.0,West,NaN,NaN,NaN
2018Q1,100,3.0,18,50,21.0,8.0,West,NaN,NaN,NaN
2018Q2,100,2.0,20,45,21.0,11.0,West,NaN,NaN,NaN
2018Q3,100,2.0,16,55,18.0,9.0,West,NaN,NaN,NaN
2018Q4,100,3.0,17,53,18.0,9.0,West,NaN,NaN,NaN
2019Q1,100,1.0,15,55,22.0,6.0,West,NaN,NaN,NaN
2019Q2,100,2.0,15,52,23.0,8.0,West,NaN,NaN,NaN
2019Q3,100,2.0,19,48,23.0,8.0,West,NaN,NaN,NaN
2019Q4,100,2.0,15,48,26.0,9.0,West,NaN,NaN,NaN
2020Q1,100,1.0,12,56,22.0,8.0,West,NaN,NaN,NaN
2020Q2,100,1.0,15,56,22.0,6.0,West,NaN,NaN,NaN
2020Q3,100,1.0,8,61,21.0,9.0,West,NaN,NaN,NaN
2020Q4,100,0.0,7,63,24.0,7.0,West,NaN,NaN,NaN
2021Q1,100,1.0,5,50,33.0,11.0,West,NaN,NaN,NaN
2021Q2,100,0.0,4,48,37.0,11.0,West,NaN,NaN,NaN
2021Q3,100,0.0,3,43,34.0,19.0,West,NaN,NaN,NaN
2021Q4,100,0.0,3,43,41.0,13.0,West,NaN,NaN,NaN
2017Q1,100,NaN,35,32,NaN,NaN,South,6.0,15.0,12.0
2017Q2,100,NaN,38,33,NaN,NaN,South,4.0,13.0,12.0
2017Q3,100,NaN,33,36,NaN,NaN,South,5.0,14.0,12.0
2017Q4,100,NaN,35,37,NaN,NaN,South,4.0,11.0,13.0
2018Q1,100,NaN,36,37,NaN,NaN,South,5.0,11.0,12.0
2018Q2,100,NaN,36,34,NaN,NaN,South,5.0,14.0,11.0
2018Q3,100,NaN,37,35,NaN,NaN,South,4.0,11.0,14.0
2018Q4,100,NaN,39,35,NaN,NaN,South,5.0,9.0,12.0
2019Q1,100,NaN,45,32,NaN,NaN,South,4.0,10.0,10.0
2019Q2,100,NaN,41,36,NaN,NaN,South,2.0,9.0,11.0
2019Q3,100,NaN,41,34,NaN,NaN,South,2.0,11.0,12.0
2019Q4,100,NaN,41,35,NaN,NaN,South,2.0,9.0,12.0
2020Q1,100,NaN,42,35,NaN,NaN,South,3.0,11.0,9.0
2020Q2,100,NaN,39,38,NaN,NaN,South,3.0,12.0,9.0
2020Q3,100,NaN,44,36,NaN,NaN,South,0.0,8.0,12.0
2020Q4,100,NaN,36,47,NaN,NaN,South,0.0,5.0,12.0
2021Q1,100,NaN,36,45,NaN,NaN,South,1.0,4.0,14.0
2021Q2,100,NaN,29,51,NaN,NaN,South,0.0,2.0,18.0
2021Q3,100,NaN,28,48,NaN,NaN,South,0.0,1.0,22.0
2021Q4,100,NaN,23,56,NaN,NaN,South,0.0,1.0,19.0
2017Q1,100,NaN,37,35,NaN,NaN,Mid West,2.0,16.0,10.0
2017Q2,100,NaN,37,35,NaN,NaN,Mid West,1.0,17.0,10.0
2017Q3,100,NaN,34,33,NaN,NaN,Mid West,2.0,21.0,10.0
2017Q4,100,NaN,41,32,NaN,NaN,Mid West,2.0,13.0,12.0
2018Q1,100,NaN,32,37,NaN,NaN,Mid West,2.0,18.0,10.0
2018Q2,100,NaN,35,33,NaN,NaN,Mid West,3.0,18.0,10.0
2018Q3,100,NaN,41,38,NaN,NaN,Mid West,1.0,11.0,9.0
2018Q4,100,NaN,36,39,NaN,NaN,Mid West,2.0,13.0,10.0
2019Q1,100,NaN,41,34,NaN,NaN,Mid West,3.0,14.0,9.0
2019Q2,100,NaN,39,33,NaN,NaN,Mid West,6.0,14.0,8.0
2019Q3,100,NaN,39,38,NaN,NaN,Mid West,3.0,10.0,10.0
2019Q4,100,NaN,42,34,NaN,NaN,Mid West,1.0,12.0,10.0
2020Q1,100,NaN,42,36,NaN,NaN,Mid West,1.0,11.0,11.0
2020Q2,100,NaN,47,35,NaN,NaN,Mid West,1.0,8.0,9.0
2020Q3,100,NaN,42,36,NaN,NaN,Mid West,1.0,4.0,16.0
2020Q4,100,NaN,41,38,NaN,NaN,Mid West,2.0,10.0,10.0
2021Q1,100,NaN,38,46,NaN,NaN,Mid West,0.0,5.0,11.0
2021Q2,100,NaN,40,45,NaN,NaN,Mid West,1.0,1.0,13.0
2021Q3,100,NaN,34,45,NaN,NaN,Mid West,0.0,1.0,19.0
2021Q4,100,NaN,24,60,NaN,NaN,Mid West,0.0,0.0,16.0