In [1]:
import pandas as pd

In [56]:
'''Setting option for pandas to show maximum rows and columns'''

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [39]:
'''Reading data for all houses sold in North Eeast from 2017- 2021'''
North_East = pd.read_excel("New_Houses_Sold_region_SalesPrice.xls",sheet_name="QtrSalGrp Reg Pct",header=None, names=["Period", "Total", "Under 200", "200-299","300-499",
                                                                 "500-749","750 and Over",],skiprows=69, nrows= 20, 
                                                                  index_col = None, usecols="A:G")
North_East['Region'] = 'North East'
North_East.set_index('Period', inplace =True)
North_East
#[Thousands of houses.  Components may not add to total because of rounding].

         Total  Under 200  200-299  300-499  500-749  750 and Over      Region
Period
2017Q1     100          2       11       32       33            23  North East
2017Q2     100          1       27       29       23            20  North East
2017Q3     100          2       18       43       20            18  North East
2017Q4     100          0       22       28       18            30  North East
2018Q1     100          6       13       40       24            17  North East
2018Q2     100          3       26       25       23            22  North East
2018Q3     100          1       17       31       24            27  North East
2018Q4     100          1        8       38       32            21  North East
2019Q1     100          7       11       37       26            19  North East
2019Q2     100          4       16       40       20            20  North East
2019Q3     100          2       12       31       27            27  North East
2019Q4     100          3        8       41       32            16  North East
2020Q1     100          1       12       35       33            20  North East
2020Q2     100          6       10       43       24            18  North East
2020Q3     100          0        6       54       22            18  North East
2020Q4     100          0        2       45       36            16  North East
2021Q1     100          0        3       44       25            28  North East
2021Q2     100          0        6       27       31            36  North East
2021Q3     100          2        0       46       24            29  North East
2021Q4     100          7       11       24       22            36  North East

In [40]:
'''Reading data for all houses sold in Mid West from 2017- 2021'''
Mid_West = pd.read_excel("New_Houses_Sold_region_SalesPrice.xls",sheet_name="QtrSalGrp Reg Pct",header=None, names=["Period", "Total", "Under 150", "150-199","200-299",
                                                                 "300-499","500 and Over",],skiprows=69, nrows= 20, 
                                                                  index_col = None, usecols="A,H:M")

Mid_West['Region'] = 'Mid West'
Mid_West.set_index("Period", inplace = True)
Mid_West

         Total  Under 150  150-199  200-299  300-499  500 and Over    Region
Period
2017Q1     100          2       16       37       35            10  Mid West
2017Q2     100          1       17       37       35            10  Mid West
2017Q3     100          2       21       34       33            10  Mid West
2017Q4     100          2       13       41       32            12  Mid West
2018Q1     100          2       18       32       37            10  Mid West
2018Q2     100          3       18       35       33            10  Mid West
2018Q3     100          1       11       41       38             9  Mid West
2018Q4     100          2       13       36       39            10  Mid West
2019Q1     100          3       14       41       34             9  Mid West
2019Q2     100          6       14       39       33             8  Mid West
2019Q3     100          3       10       39       38            10  Mid West
2019Q4     100          1       12       42       34            10  Mid West
2020Q1     100          1       11       42       36            11  Mid West
2020Q2     100          1        8       47       35             9  Mid West
2020Q3     100          1        4       42       36            16  Mid West
2020Q4     100          2       10       41       38            10  Mid West
2021Q1     100          0        5       38       46            11  Mid West
2021Q2     100          1        1       40       45            13  Mid West
2021Q3     100          0        1       34       45            19  Mid West
2021Q4     100          0        0       24       60            16  Mid West

In [43]:
'''Reading data for all houses sold in South from 2017- 2021'''
South  = pd.read_excel("New_Houses_Sold_region_SalesPrice.xls",sheet_name="QtrSalGrp Reg Pct",header=None, names=["Period", "Total", "Under 150", "150-199","200-299",
                                                                 "300-499","500 and Over",],skiprows=69, nrows= 20, 
                                                                  index_col = None, usecols="N:T")

South['Region'] = 'South'
South.set_index('Period', inplace = True)
South

         Total  Under 150  150-199  200-299  300-499  500 and Over Region
Period
2017Q1     100          6       15       35       32            12  South
2017Q2     100          4       13       38       33            12  South
2017Q3     100          5       14       33       36            12  South
2017Q4     100          4       11       35       37            13  South
2018Q1     100          5       11       36       37            12  South
2018Q2     100          5       14       36       34            11  South
2018Q3     100          4       11       37       35            14  South
2018Q4     100          5        9       39       35            12  South
2019Q1     100          4       10       45       32            10  South
2019Q2     100          2        9       41       36            11  South
2019Q3     100          2       11       41       34            12  South
2019Q4     100          2        9       41       35            12  South
2020Q1     100          3       11       42       35             9  South
2020Q2     100          3       12       39       38             9  South
2020Q3     100          0        8       44       36            12  South
2020Q4     100          0        5       36       47            12  South
2021Q1     100          1        4       36       45            14  South
2021Q2     100          0        2       29       51            18  South
2021Q3     100          0        1       28       48            22  South
2021Q4     100          0        1       23       56            19  South

In [75]:
'''Reading data for all houses sold in West from 2017- 2021'''

West = pd.read_excel("New_Houses_Sold_region_SalesPrice.xls",sheet_name="QtrSalGrp Reg Pct",header=None, names=["Period", "Total", "Under 200", "200-299","300-499",
                                                                 "500-749","750 and Over",],skiprows=69, nrows= 20, 
                                                                  index_col = None, usecols="A, U:Z")
West['Region'] = 'West'
West.set_index("Period", inplace = True)
West

         Total  Under 200  200-299  300-499  500-749  750 and Over Region
Period
2017Q1     100          3       25       49       17             6   West
2017Q2     100          3       23       51       17             6   West
2017Q3     100          3       21       51       16             9   West
2017Q4     100          3       16       50       22             9   West
2018Q1     100          3       18       50       21             8   West
2018Q2     100          2       20       45       21            11   West
2018Q3     100          2       16       55       18             9   West
2018Q4     100          3       17       53       18             9   West
2019Q1     100          1       15       55       22             6   West
2019Q2     100          2       15       52       23             8   West
2019Q3     100          2       19       48       23             8   West
2019Q4     100          2       15       48       26             9   West
2020Q1     100          1       12       56       22             8   West
2020Q2     100          1       15       56       22             6   West
2020Q3     100          1        8       61       21             9   West
2020Q4     100          0        7       63       24             7   West
2021Q1     100          1        5       50       33            11   West
2021Q2     100          0        4       48       37            11   West
2021Q3     100          0        3       43       34            19   West
2021Q4     100          0        3       43       41            13   West

In [76]:
new_houses_sold_price_by_region = pd.concat([North_East, West, South, Mid_West])
#new_houses_sold_price_by_region.to_csv('new_price_by_region')
new_houses_sold_price_by_region

,Total,Under 200,200-299,300-499,500-749,750 and Over,Region,Under 150,150-199,500 and Over
Period,,,,,,,,,,
2017Q1,100,2.0,11,32,33.0,23.0,North East,NaN,NaN,NaN
2017Q2,100,1.0,27,29,23.0,20.0,North East,NaN,NaN,NaN
2017Q3,100,2.0,18,43,20.0,18.0,North East,NaN,NaN,NaN
2017Q4,100,0.0,22,28,18.0,30.0,North East,NaN,NaN,NaN
2018Q1,100,6.0,13,40,24.0,17.0,North East,NaN,NaN,NaN
2018Q2,100,3.0,26,25,23.0,22.0,North East,NaN,NaN,NaN
2018Q3,100,1.0,17,31,24.0,27.0,North East,NaN,NaN,NaN
2018Q4,100,1.0,8,38,32.0,21.0,North East,NaN,NaN,NaN
2019Q1,100,7.0,11,37,26.0,19.0,North East,NaN,NaN,NaN
2019Q2,100,4.0,16,40,20.0,20.0,North East,NaN,NaN,NaN
2019Q3,100,2.0,12,31,27.0,27.0,North East,NaN,NaN,NaN
2019Q4,100,3.0,8,41,32.0,16.0,North East,NaN,NaN,NaN
2020Q1,100,1.0,12,35,33.0,20.0,North East,NaN,NaN,NaN
2020Q2,100,6.0,10,43,24.0,18.0,North East,NaN,NaN,NaN
2020Q3,100,0.0,6,54,22.0,18.0,North East,NaN,NaN,NaN
2020Q4,100,0.0,2,45,36.0,16.0,North East,NaN,NaN,NaN
2021Q1,100,0.0,3,44,25.0,28.0,North East,NaN,NaN,NaN
2021Q2,100,0.0,6,27,31.0,36.0,North East,NaN,NaN,NaN
2021Q3,100,2.0,0,46,24.0,29.0,North East,NaN,NaN,NaN
2021Q4,100,7.0,11,24,22.0,36.0,North East,NaN,NaN,NaN
2017Q1,100,3.0,25,49,17.0,6.0,West,NaN,NaN,NaN
2017Q2,100,3.0,23,51,17.0,6.0,West,NaN,NaN,NaN
2017Q3,100,3.0,21,51,16.0,9.0,West,NaN,NaN,NaN
2017Q4,100,3.0,16,50,22.0,9.0,West,NaN,NaN,NaN
2018Q1,100,3.0,18,50,21.0,8.0,West,NaN,NaN,NaN
2018Q2,100,2.0,20,45,21.0,11.0,West,NaN,NaN,NaN
2018Q3,100,2.0,16,55,18.0,9.0,West,NaN,NaN,NaN
2018Q4,100,3.0,17,53,18.0,9.0,West,NaN,NaN,NaN
2019Q1,100,1.0,15,55,22.0,6.0,West,NaN,NaN,NaN
2019Q2,100,2.0,15,52,23.0,8.0,West,NaN,NaN,NaN
2019Q3,100,2.0,19,48,23.0,8.0,West,NaN,NaN,NaN
2019Q4,100,2.0,15,48,26.0,9.0,West,NaN,NaN,NaN
2020Q1,100,1.0,12,56,22.0,8.0,West,NaN,NaN,NaN
2020Q2,100,1.0,15,56,22.0,6.0,West,NaN,NaN,NaN
2020Q3,100,1.0,8,61,21.0,9.0,West,NaN,NaN,NaN
2020Q4,100,0.0,7,63,24.0,7.0,West,NaN,NaN,NaN
2021Q1,100,1.0,5,50,33.0,11.0,West,NaN,NaN,NaN
2021Q2,100,0.0,4,48,37.0,11.0,West,NaN,NaN,NaN
2021Q3,100,0.0,3,43,34.0,19.0,West,NaN,NaN,NaN
2021Q4,100,0.0,3,43,41.0,13.0,West,NaN,NaN,NaN
2017Q1,100,NaN,35,32,NaN,NaN,South,6.0,15.0,12.0
2017Q2,100,NaN,38,33,NaN,NaN,South,4.0,13.0,12.0
2017Q3,100,NaN,33,36,NaN,NaN,South,5.0,14.0,12.0
2017Q4,100,NaN,35,37,NaN,NaN,South,4.0,11.0,13.0
2018Q1,100,NaN,36,37,NaN,NaN,South,5.0,11.0,12.0
2018Q2,100,NaN,36,34,NaN,NaN,South,5.0,14.0,11.0
2018Q3,100,NaN,37,35,NaN,NaN,South,4.0,11.0,14.0
2018Q4,100,NaN,39,35,NaN,NaN,South,5.0,9.0,12.0
2019Q1,100,NaN,45,32,NaN,NaN,South,4.0,10.0,10.0
2019Q2,100,NaN,41,36,NaN,NaN,South,2.0,9.0,11.0
2019Q3,100,NaN,41,34,NaN,NaN,South,2.0,11.0,12.0
2019Q4,100,NaN,41,35,NaN,NaN,South,2.0,9.0,12.0
2020Q1,100,NaN,42,35,NaN,NaN,South,3.0,11.0,9.0
2020Q2,100,NaN,39,38,NaN,NaN,South,3.0,12.0,9.0
2020Q3,100,NaN,44,36,NaN,NaN,South,0.0,8.0,12.0
2020Q4,100,NaN,36,47,NaN,NaN,South,0.0,5.0,12.0
2021Q1,100,NaN,36,45,NaN,NaN,South,1.0,4.0,14.0
2021Q2,100,NaN,29,51,NaN,NaN,South,0.0,2.0,18.0
2021Q3,100,NaN,28,48,NaN,NaN,South,0.0,1.0,22.0
2021Q4,100,NaN,23,56,NaN,NaN,South,0.0,1.0,19.0
2017Q1,100,NaN,37,35,NaN,NaN,Mid West,2.0,16.0,10.0
2017Q2,100,NaN,37,35,NaN,NaN,Mid West,1.0,17.0,10.0
2017Q3,100,NaN,34,33,NaN,NaN,Mid West,2.0,21.0,10.0
2017Q4,100,NaN,41,32,NaN,NaN,Mid West,2.0,13.0,12.0
2018Q1,100,NaN,32,37,NaN,NaN,Mid West,2.0,18.0,10.0
2018Q2,100,NaN,35,33,NaN,NaN,Mid West,3.0,18.0,10.0
2018Q3,100,NaN,41,38,NaN,NaN,Mid West,1.0,11.0,9.0
2018Q4,100,NaN,36,39,NaN,NaN,Mid West,2.0,13.0,10.0
2019Q1,100,NaN,41,34,NaN,NaN,Mid West,3.0,14.0,9.0
2019Q2,100,NaN,39,33,NaN,NaN,Mid West,6.0,14.0,8.0
2019Q3,100,NaN,39,38,NaN,NaN,Mid West,3.0,10.0,10.0
2019Q4,100,NaN,42,34,NaN,NaN,Mid West,1.0,12.0,10.0
2020Q1,100,NaN,42,36,NaN,NaN,Mid West,1.0,11.0,11.0
2020Q2,100,NaN,47,35,NaN,NaN,Mid West,1.0,8.0,9.0
2020Q3,100,NaN,42,36,NaN,NaN,Mid West,1.0,4.0,16.0
2020Q4,100,NaN,41,38,NaN,NaN,Mid West,2.0,10.0,10.0
2021Q1,100,NaN,38,46,NaN,NaN,Mid West,0.0,5.0,11.0
2021Q2,100,NaN,40,45,NaN,NaN,Mid West,1.0,1.0,13.0
2021Q3,100,NaN,34,45,NaN,NaN,Mid West,0.0,1.0,19.0
2021Q4,100,NaN,24,60,NaN,NaN,Mid West,0.0,0.0,16.0

In [66]:
'''Moving on to the next excel file to prepare called, "Permit_Authorized_Not_started.xls"'''

'Moving on to the next excel file to prepare called, "Permit_Authorized_Not_started.xls"'

In [81]:

not_started = pd.read_excel("Permit_Authorized_Not_started.xls",sheet_name="AuthNot",header=None, names=["Date","United States","North East",
                                                                                                 "Mid West", "South", "West"], 
                                                                 skiprows=625, nrows= 60, 
                                                                  index_col = None, usecols="A,C,G,I, K, M",)
not_started.set_index('Date', inplace = True)

In [82]:
'''

The below chart represents all construction permits authorized for single-family homes BUT not started.
The columns are divided into United States, North East, Mid West, South and West. 
'''
not_started

            United States  North East  Mid West  South  West
Date
2017-01-01           67.9         5.6       6.7   38.1  17.5
2017-02-01           69.9         5.2       7.6   39.3  17.8
2017-03-01           82.8         5.2      10.8   46.5  20.3
2017-04-01           78.3         5.6      10.4   43.2  19.0
2017-05-01           83.6         6.6       9.5   47.1  20.5
2017-06-01           85.3         6.7       9.9   47.3  21.4
2017-07-01           77.8         5.4       8.9   44.5  19.0
2017-08-01           81.0         5.3      10.5   44.7  20.5
2017-09-01           78.4         5.2      10.1   44.8  18.3
2017-10-01           78.0         4.8       8.8   44.1  20.2
2017-11-01           75.4         4.8       7.9   43.2  19.6
2017-12-01           80.1         5.2       8.0   45.9  21.0
2018-01-01           85.8         5.6       8.5   48.9  22.8
2018-02-01           86.9         6.5      10.3   48.8  21.3
2018-03-01           93.9         7.0      11.8   53.9  21.2
2018-04-01           91.1         6.8      13.8   50.0  20.5
2018-05-01           92.8         7.5      12.8   49.7  22.8
2018-06-01           95.4         8.0      13.2   51.8  22.4
2018-07-01           94.4         8.2      11.2   52.9  22.1
2018-08-01           95.4         7.6      12.8   52.5  22.6
2018-09-01           89.2         7.3      10.4   52.1  19.4
2018-10-01           88.4         6.4      10.2   55.0  16.8
2018-11-01           94.8         6.2      10.0   59.3  19.3
2018-12-01           96.9         6.2      10.0   58.4  22.4
2019-01-01           93.8         5.6       9.9   55.2  23.0
2019-02-01           94.4         6.9       9.7   54.7  23.1
2019-03-01           92.5         6.4      12.0   51.0  23.1
2019-04-01           88.5         5.8      12.1   49.8  20.9
2019-05-01           93.4         6.5      12.5   51.1  23.3
2019-06-01           90.5         7.2      11.6   49.1  22.6
2019-07-01           88.3         7.0       9.2   49.8  22.4
2019-08-01           87.1         6.4       7.9   51.7  21.1
2019-09-01           81.1         5.1       7.9   47.9  20.1
2019-10-01           87.0         6.1       9.0   50.4  21.5
2019-11-01           86.4         6.6       8.2   50.9  20.7
2019-12-01           84.6         5.6       8.0   47.8  23.2
2020-01-01           89.1         5.7       9.0   51.6  22.8
2020-02-01           87.2         6.1       9.4   46.0  25.7
2020-03-01           91.6         7.7       8.8   50.5  24.5
2020-04-01           93.8         7.9       8.8   51.7  25.3
2020-05-01           95.4         8.9       8.7   54.1  23.6
2020-06-01           93.7         8.6       8.2   52.9  24.1
2020-07-01           96.4         7.3       8.6   55.9  24.6
2020-08-01           97.1         7.6       6.9   58.0  24.7
2020-09-01          102.7         9.8       8.8   58.7  25.4
2020-10-01          102.9        10.2       8.5   59.4  24.9
2020-11-01           99.2        11.1       8.6   57.5  22.1
2020-12-01          101.0        11.1       7.0   58.9  24.1
2021-01-01          109.7        11.0       7.7   64.2  26.8
2021-02-01          119.1        12.4      11.1   68.6  27.0
2021-03-01          135.9        12.3      14.3   78.7  30.7
2021-04-01          148.5        12.6      17.4   85.1  33.4
2021-05-01          149.7        12.5      13.9   91.3  32.0
2021-06-01          155.5        11.4      14.8   96.3  33.0
2021-07-01          148.5        11.8      12.1   94.1  30.6
2021-08-01          149.0        11.6      12.6   91.2  33.6
2021-09-01          145.2        10.6      12.3   90.5  31.8
2021-10-01          147.4        11.4      12.9   92.0  31.1
2021-11-01          139.4        11.8      13.3   85.4  28.9
2021-12-01          140.9        12.6      11.8   84.7  31.6

In [83]:
'''Export the cleaned data above as csv'''

#not_started.to_csv('auth_not_started.csv')

pandas.core.series.Series

In [149]:
'''
Clean excel file called 'houses_sold_type_of_financing.xls' that outlines type of financing for home purchases
in the United States. The data is divided into quarters.

'''



sold_finance_type = pd.read_excel('houses_sold_type_of_financing.xls',sheet_name="Sold Finance Qtr",header=None, names=["Period","Total Sold","Conventional",
                                                                                                 "FHA Insured", "VA Guaranteed", "Cash"], 
                                                                 skiprows=110, nrows= 32, 
                                                                  index_col = None, usecols="A:E,G",)
sold_finance_type.set_index('Period', inplace = True)
sold_finance_type



'''This if for 2014- 2021 --> differnt period than the other ones'''


for i in sold_finance_type.columns:
    sold_finance_type[i + ' Rate of Change'] = sold_finance_type[[i]].pct_change()


new_oder = list(sold_finance_type.columns)

new_order = ['Total Sold',
            'Total Sold Rate of Change',
 'Conventional',
 'Conventional Rate of Change',
 'FHA Insured',
 'FHA Insured Rate of Change',
 'VA Guaranteed',
'VA Guaranteed Rate of Change',
 'Cash',
'Cash Rate of Change']

sold_finance_type = sold_finance_type[new_order]


sold_finance_type.to_csv('sold_finance_type.csv')

sold_finance_type

,Total Sold,Total Sold Rate of Change,Conventional,Conventional Rate of Change,FHA Insured,FHA Insured Rate of Change,VA Guaranteed,VA Guaranteed Rate of Change,Cash,Cash Rate of Change
Period,,,,,,,,,,
2014Q1,106,NaN,76,NaN,14,NaN,9,NaN,8,NaN
2014Q2,120,0.132075,83,0.092105,13,-0.071429,13,0.444444,10,0.250000
2014Q3,107,-0.108333,78,-0.060241,13,0.000000,8,-0.384615,8,-0.200000
2014Q4,104,-0.028037,76,-0.025641,10,-0.230769,9,0.125000,10,0.250000
2015Q1,131,0.259615,91,0.197368,21,1.100000,11,0.222222,7,-0.300000
2015Q2,140,0.068702,95,0.043956,24,0.142857,13,0.181818,8,0.142857
2015Q3,119,-0.150000,83,-0.126316,18,-0.250000,11,-0.153846,7,-0.125000
2015Q4,112,-0.058824,79,-0.048193,17,-0.055556,9,-0.181818,6,-0.142857
2016Q1,134,0.196429,93,0.177215,23,0.352941,11,0.222222,7,0.166667
2016Q2,158,0.179104,108,0.161290,27,0.173913,15,0.363636,8,0.142857
2016Q3,144,-0.088608,106,-0.018519,20,-0.259259,12,-0.200000,7,-0.125000
2016Q4,125,-0.131944,89,-0.160377,18,-0.100000,11,-0.083333,7,0.000000
2017Q1,156,0.248000,113,0.269663,22,0.222222,14,0.272727,7,0.000000
2017Q2,170,0.089744,121,0.070796,23,0.045455,15,0.071429,11,0.571429
2017Q3,142,-0.164706,104,-0.140496,21,-0.086957,10,-0.333333,7,-0.363636
2017Q4,144,0.014085,104,0.000000,18,-0.142857,12,0.200000,10,0.428571
2018Q1,168,0.166667,124,0.192308,20,0.111111,15,0.250000,9,-0.100000
2018Q2,179,0.065476,134,0.080645,19,-0.050000,12,-0.200000,13,0.444444
2018Q3,145,-0.189944,108,-0.194030,20,0.052632,7,-0.416667,10,-0.230769
2018Q4,126,-0.131034,94,-0.129630,16,-0.200000,8,0.142857,7,-0.300000
2019Q1,174,0.380952,120,0.276596,30,0.875000,15,0.875000,9,0.285714
2019Q2,186,0.068966,125,0.041667,35,0.166667,15,0.000000,11,0.222222
2019Q3,168,-0.096774,117,-0.064000,26,-0.257143,13,-0.133333,12,0.090909
2019Q4,154,-0.083333,107,-0.085470,29,0.115385,10,-0.230769,8,-0.333333
2020Q1,181,0.175325,125,0.168224,32,0.103448,16,0.600000,8,0.000000
2020Q2,196,0.082873,131,0.048000,40,0.250000,16,0.000000,8,0.000000
2020Q3,243,0.239796,172,0.312977,45,0.125000,16,0.000000,10,0.250000
2020Q4,202,-0.168724,139,-0.191860,37,-0.177778,15,-0.062500,10,0.000000
2021Q1,229,0.133663,163,0.172662,43,0.162162,14,-0.066667,10,0.000000
2021Q2,200,-0.126638,148,-0.092025,26,-0.395349,13,-0.071429,13,0.300000
2021Q3,175,-0.125000,131,-0.114865,23,-0.115385,8,-0.384615,12,-0.076923
2021Q4,158,-0.097143,123,-0.061069,14,-0.391304,10,0.250000,11,-0.083333

In [159]:
'''
Get hoomes sold data for the United States (Similar to the first graph, but for USA) in the thousands.


'''



houses_sold_by_sales_price_USA= pd.read_excel("houses_sold_by_sales_price.xls",sheet_name="QtrSalGrp US",header=None, names=["Period","USA","0-125",
                                                                                                 "125-149", "150-199", "200-249",
                                                                               '250-299','300-399','400-499','500-749','750 and Above'], 
                                                                 skiprows=56, nrows= 32, 
                                                                  index_col = None, usecols="A:K")


houses_sold_by_sales_price_USA.set_index('Period', inplace = True)
houses_sold_by_sales_price_USA

for i in houses_sold_by_sales_price_USA.columns:
    houses_sold_by_sales_price_USA[i + ' Rate of Change'] = houses_sold_by_sales_price_USA[[i]].pct_change()

    

new_cols = list(houses_sold_by_sales_price_USA.columns)
new_cols
new_cols = ['USA',
   'USA Rate of Change',
 '0-125',
 '0-125 Rate of Change',
 '125-149',
  '125-149 Rate of Change',
 '150-199',
  '150-199 Rate of Change',            
 '200-249',
  '200-249 Rate of Change',
 '250-299',
 '250-299 Rate of Change',
 '300-399',
 '300-399 Rate of Change',
 '400-499',
  '400-499 Rate of Change',
 '500-749',
  '500-749 Rate of Change',
 '750 and Above',
 '750 and Above Rate of Change']


 
houses_sold_by_sales_price_USA = houses_sold_by_sales_price_USA[new_cols]
 

houses_sold_by_sales_price_USA.to_csv('houses_sold_by_sales_price_USA.csv')

houses_sold_by_sales_price_USA

,USA,USA Rate of Change,0-125,0-125 Rate of Change,125-149,125-149 Rate of Change,150-199,150-199 Rate of Change,200-249,200-249 Rate of Change,250-299,250-299 Rate of Change,300-399,300-399 Rate of Change,400-499,400-499 Rate of Change,500-749,500-749 Rate of Change,750 and Above,750 and Above Rate of Change
Period,,,,,,,,,,,,,,,,,,,,
2014Q1,106,NaN,2,NaN,5,NaN,18,NaN,18,NaN,16,NaN,22,NaN,12,NaN,8,NaN,5,NaN
2014Q2,120,0.132075,2,0.0,5,0.000000,20,0.111111,19,0.055556,18,0.125000,25,0.136364,14,0.166667,13,0.625000,4,-0.200000
2014Q3,107,-0.108333,4,1.0,4,-0.200000,18,-0.100000,16,-0.157895,18,0.000000,21,-0.160000,12,-0.142857,10,-0.230769,5,0.250000
2014Q4,104,-0.028037,2,-0.5,4,0.000000,15,-0.166667,15,-0.062500,16,-0.111111,22,0.047619,12,0.000000,11,0.100000,6,0.200000
2015Q1,131,0.259615,1,-0.5,4,0.000000,20,0.333333,23,0.533333,22,0.375000,26,0.181818,16,0.333333,13,0.181818,6,0.000000
2015Q2,140,0.068702,2,1.0,4,0.000000,22,0.100000,22,-0.043478,25,0.136364,30,0.153846,17,0.062500,14,0.076923,5,-0.166667
2015Q3,119,-0.150000,2,0.0,4,0.000000,18,-0.181818,18,-0.181818,18,-0.280000,27,-0.100000,15,-0.117647,11,-0.214286,5,0.000000
2015Q4,112,-0.058824,2,0.0,3,-0.250000,13,-0.277778,20,0.111111,18,0.000000,22,-0.185185,16,0.066667,12,0.090909,6,0.200000
2016Q1,134,0.196429,2,0.0,4,0.333333,18,0.384615,19,-0.050000,25,0.388889,30,0.363636,18,0.125000,14,0.166667,5,-0.166667
2016Q2,158,0.179104,1,-0.5,4,0.000000,23,0.277778,23,0.210526,25,0.000000,38,0.266667,21,0.166667,18,0.285714,6,0.200000
2016Q3,144,-0.088608,1,0.0,4,0.000000,19,-0.173913,22,-0.043478,23,-0.080000,35,-0.078947,19,-0.095238,15,-0.166667,6,0.000000
2016Q4,125,-0.131944,1,0.0,3,-0.250000,16,-0.157895,19,-0.136364,18,-0.217391,31,-0.114286,18,-0.052632,14,-0.066667,6,0.000000
2017Q1,156,0.248000,1,0.0,5,0.666667,17,0.062500,24,0.263158,24,0.333333,36,0.161290,22,0.222222,20,0.428571,7,0.166667
2017Q2,170,0.089744,1,0.0,3,-0.400000,16,-0.058824,29,0.208333,27,0.125000,40,0.111111,25,0.136364,20,0.000000,8,0.142857
2017Q3,142,-0.164706,1,0.0,3,0.000000,16,0.000000,21,-0.275862,20,-0.259259,36,-0.100000,21,-0.160000,17,-0.150000,7,-0.125000
2017Q4,144,0.014085,1,0.0,2,-0.333333,12,-0.250000,22,0.047619,21,0.050000,36,0.000000,21,0.000000,20,0.176471,9,0.285714
2018Q1,168,0.166667,1,0.0,4,1.000000,15,0.250000,23,0.045455,26,0.238095,44,0.222222,25,0.190476,22,0.100000,7,-0.222222
2018Q2,179,0.065476,2,1.0,3,-0.250000,20,0.333333,25,0.086957,31,0.192308,41,-0.068182,23,-0.080000,22,0.000000,11,0.571429
2018Q3,145,-0.189944,2,0.0,2,-0.333333,11,-0.450000,23,-0.080000,22,-0.290323,37,-0.097561,22,-0.043478,18,-0.181818,10,-0.090909
2018Q4,126,-0.131034,2,0.0,3,0.500000,10,-0.090909,20,-0.130435,20,-0.090909,32,-0.135135,18,-0.181818,15,-0.166667,6,-0.400000
2019Q1,174,0.380952,1,-0.5,4,0.333333,13,0.300000,31,0.550000,29,0.450000,43,0.343750,25,0.388889,21,0.400000,7,0.166667
2019Q2,186,0.068966,1,0.0,3,-0.250000,14,0.076923,32,0.032258,29,0.000000,49,0.139535,27,0.080000,23,0.095238,9,0.285714
2019Q3,168,-0.096774,1,0.0,2,-0.333333,14,0.000000,29,-0.093750,28,-0.034483,41,-0.163265,22,-0.185185,22,-0.043478,9,0.000000
2019Q4,154,-0.083333,1,0.0,2,0.000000,11,-0.214286,25,-0.137931,26,-0.071429,39,-0.048780,21,-0.045455,22,0.000000,8,-0.111111
2020Q1,181,0.175325,1,0.0,2,0.000000,14,0.272727,30,0.200000,27,0.038462,47,0.205128,27,0.285714,23,0.045455,9,0.125000
2020Q2,196,0.082873,1,0.0,2,0.000000,16,0.142857,30,0.000000,33,0.222222,52,0.106383,31,0.148148,22,-0.043478,8,-0.111111
2020Q3,243,0.239796,0,-1.0,1,-0.500000,13,-0.187500,33,0.100000,46,0.393939,72,0.384615,34,0.096774,30,0.363636,14,0.750000
2020Q4,202,-0.168724,0,NaN,0,-1.000000,9,-0.307692,23,-0.303030,33,-0.282609,61,-0.152778,39,0.147059,27,-0.100000,9,-0.357143
2021Q1,229,0.133663,1,inf,1,inf,7,-0.222222,26,0.130435,36,0.090909,63,0.032787,44,0.128205,38,0.407407,14,0.555556
2021Q2,200,-0.126638,0,-1.0,1,0.000000,2,-0.714286,17,-0.346154,30,-0.166667,60,-0.047619,36,-0.181818,40,0.052632,15,0.071429
2021Q3,175,-0.125000,0,NaN,0,-1.000000,1,-0.500000,11,-0.352941,26,-0.133333,42,-0.300000,39,0.083333,38,-0.050000,17,0.133333
2021Q4,158,-0.097143,1,inf,0,NaN,1,0.000000,8,-0.272727,18,-0.307692,46,0.095238,35,-0.102564,34,-0.105263,15,-0.117647

In [182]:
'''
Getting Data for all single family homes in the USA and subregions based on construction stage for 2021.

Stages are: 
-->Completed
-->Starts
-->Under Construciton
'''
import re
df = pd.read_excel("permits_per_region_status.xls",sheet_name="Table 3 - Starts",header=None, 
                                                                 skiprows=50, nrows= 12, 
                                                                  index_col = None, usecols="A:M")

df = df.drop([1,3,4,5,7,9,11],axis=1)

df = df.set_index(0)
df
# df.rename(columns=''{} )

,2,6,8,10,12
0,,,,,
January . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,77.9,5.0,7.8,47.6,17.5
February . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,74.6,3.4,5.1,43.8,22.4
March . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,102.8,7.2,14.7,58.0,22.9
April . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,97.2,6.7,13.1,53.2,24.3
May . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,100.5,5.6,17.6,52.5,24.9
June . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,111.6,8.5,13.8,61.9,27.4
July . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,104.6,4.3,15.1,61.0,24.1
August . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,98.0,6.1,12.3,59.9,19.8
September . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,93.5,6.4,12.6,52.0,22.6
October (r) . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,91.6,4.8,13.0,51.1,22.8
November (r) . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,89.5,4.9,10.1,52.9,21.5
December (p) . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .,81.0,4.8,12.3,47.7,16.2