In [9]:
import pandas as pd
import numpy as np
import chart_studio.plotly as py
import seaborn as sns
import plotly.express as px
import cufflinks as cf
%matplotlib inline
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
#init_notebook_mode(connected = True)
cf.go_offline()
import plotly.graph_objects as go

In [10]:
'''Setting option for pandas to show maximum rows and columns'''

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
'''
File 1 --> 'new_price_by_region'
File 2 --> 'auth_not_started.csv'
File 3 --> 






'''

In [7]:
import pandas as pd
auth_not_started = pd.read_csv('auth_not_started.csv',index_col=0)
new_price_by_region = pd.read_csv('new_price_by_region')

,Period,Total,Under 200,200-299,300-499,500-749,750 and Over,Region,Under 150,150-199,500 and Over
0,2017Q1,100,2.0,11,32,33.0,23.0,North East,NaN,NaN,NaN
1,2017Q2,100,1.0,27,29,23.0,20.0,North East,NaN,NaN,NaN
2,2017Q3,100,2.0,18,43,20.0,18.0,North East,NaN,NaN,NaN
3,2017Q4,100,0.0,22,28,18.0,30.0,North East,NaN,NaN,NaN
4,2018Q1,100,6.0,13,40,24.0,17.0,North East,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
75,2020Q4,100,NaN,41,38,NaN,NaN,Mid West,2.0,10.0,10.0
76,2021Q1,100,NaN,38,46,NaN,NaN,Mid West,0.0,5.0,11.0
77,2021Q2,100,NaN,40,45,NaN,NaN,Mid West,1.0,1.0,13.0
78,2021Q3,100,NaN,34,45,NaN,NaN,Mid West,0.0,1.0,19.0
79,2021Q4,100,NaN,24,60,NaN,NaN,Mid West,0.0,0.0,16.0